/** @format */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	color: #555;
}

form {
	background-color: rgb(58, 67, 102);
	max-width: 40rem;
	margin: 35px auto;
	padding: 30px;
	text-align: center;
	border-radius: 8px;
}
h1 {
	color: white;
	padding-bottom: 20px;
}

input {
	width: 80%;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 8px;
	font-size: 18px;
}

.text-area {
	width: 80%;
	margin-bottom: 10px;
	border-radius: 8px;
	font-size: 18px;
	padding: 10px;
	margin-top: 10px;
}

.submit {
	background-color: yellow;
	color: white;
	font-size: 18px;
	font-weight: 600;
}

.error-msg {
	color: red;
}

.success-msg {
	color: white;
	margin-bottom: 20px;
}
